<div>
<div class="killer">
    <div class="navRes">
    <h1>DEVITO</h1>
    <input type="search" name="" placeholder="&nbsp; &nbsp; Search for a Restaurant, Cusine or Dish">

</div>
<div class="f-order"> 

    <h3 >  Inspiration for your first order</h3>
    <div class="c1" *ngFor="let i of arr1">
       <div>
        <img  src={{i.Image}} alt="">
        <p>{{i.name}}</p>
       </div>
    </div>
    
</div>

</div>
<app-restau></app-restau>


</div>
<!-- <div class="order">
   
    <h3>Order food Online from <b>Devito</b> </h3>
    <div>
        <div>
           
        </div>
        <div>
            
        </div>
    </div>

</div> -->